body {
    font-family: arial;
    background-color: rgb(181, 225, 235);
    color: rgb(82, 73, 96);
}

#hmAll {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 15px;
    align-items: center;
    background-color: rgb(186, 225, 255);
    margin-top: 200px;
}

#hmManAll {
    border: ;
    height: 400px;
    width: 1000px;
}

#hmMan {
    border: ;
    height: 300px;
    width: 500px;
    margin: auto;
    visibility: ;
}

/*Hangman Character*/

#hmFloor {
    margin-top: 250px;
    margin-left: 60px;
    width: 400px;
    height: 10px;
    background: black;
    position: absolute;
    box-shadow: 3px px #888888;
}

#hmStrut1 {
    margin-top: 50px;
    margin-left: 120px;
    width: 10px;
    height: 200px;
    background: black;
    position: absolute;
    visibility: visible;
}

#hmStrut2 {
    margin-top: 205px;
    margin-left: 140px;
    width: 10px;
    height: 60px;
    background: black;
    position: absolute;
    transform: rotate(135deg);
    visibility: visible;
}

#hmStrut3 {
    margin-top: 50px;
    margin-left: 120px;
    width: 180px;
    height: 10px;
    background: black;
    position: absolute;
    visibility: visible;
}

#hmStrut4 {
    margin-top: 45px;
    margin-left: 140px;
    width: 10px;
    height: 60px;
    background: black;
    position: absolute;
    transform: rotate(45deg);
    visibility: visible;
}

#hmRope {
    margin-top: 50px;
    margin-left: 290px;
    width: 5px;
    height: 60px;
    background: black;
    position: absolute;
    visibility: visible;
}

#hmHead {
    margin-top: 70px;
    margin-left: 290px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    border-radius: 50%;
    visibility: visible;
}

#hmBody {
    margin-top: 100px;
    margin-left: 290px;
    width: 3px;
    height: 60px;
    background: black;
    position: absolute;
    visibility: visible;

}

#hmArmL {
    margin-top: 106px;
    margin-left: 277px;
    width: 3px;
    height: 60px;
    transform: rotate(25deg);
    background: black;
    position: absolute;
    visibility: visible;
}

#hmArmR {
    margin-top: 106px;
    margin-left: 303px;
    width: 3px;
    height: 60px;
    transform: rotate(335deg);
    background: black;
    position: absolute;
    visibility: visible;
}



#hmLegR {
    margin-top: 156px;
    margin-left: 303px;
    width: 3px;
    height: 60px;
    transform: rotate(335deg);
    background: black;
    position: absolute;
    visibility: visible;
}

#hmLegL {
    margin-top: 156px;
    margin-left: 277px;
    width: 3px;
    height: 60px;
    transform: rotate(25deg);
    background: black;
    position: absolute;
    visibility: visible;
}


#hmHiddenLetterBox {
    width: 1000px;
    height: 90px;
    border: ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    visibility: ;
}

#letterBoxes {
    width: 50px;
    margin: 5px;
    height: 40px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-size: 2em;
}

#hmLetters {
    border: ;
    height: 200px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -100px;
}

#letterBoxA,
#letterBoxB,
#letterBoxC,
#letterBoxD,
#letterBoxE,
#letterBoxF,
#letterBoxG,
#letterBoxH,
#letterBoxI,
#letterBoxJ,
#letterBoxK,
#letterBoxL,
#letterBoxM,
#letterBoxN,
#letterBoxO,
#letterBoxP,
#letterBoxQ,
#letterBoxR,
#letterBoxS,
#letterBoxT,
#letterBoxU,
#letterBoxV,
#letterBoxW,
#letterBoxX,
#letterBoxY,
#letterBoxZ {
    border: 1px solid;
    height: 50px;
    width: 80px;
    margin: auto;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-color: rgb(181, 225, 235);
}

#hmWinner {
    font-size: 3em;
    height: 200px;
    width: 800px;
    text-align: center;
    background: white;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    align-items: center;
    visibility: visible;
}

#hmLooser {
    font-size: 3em;
    height: 200px;
    width: 800px;
    text-align: center;
    background: white;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

#hmFinished {
    font-size: 3em;
    height: 200px;
    width: 800px;
    text-align: center;
    background: white;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

#newGame {
    background: lightgrey;
    border: solid 1px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
